<?xml version="1.0"?>
<robot name="int_brain" xmlns:xacro="http://wiki.ros.org/xacro">
    <material name="silver">
        <color rgba="0.75 0.75 0.75 1.0" />
    </material>
    <material name="black">
        <color rgba="0.2 0.2 0.2 1.0" />
    </material>
    <material name="black_acrylic">
        <color rgba="0.1 0.1 0.1 1.0" />
    </material>
</robot>